<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Agregar Candidato</h1>

<form method="post" action='@Url.Action("GuardarCandidato")'>
    <input type="hidden" name="IdPartido" value="@ViewBag.IdPartido" />
    <p>Apellido</p>
    <input type="text" class="form-control" id="Apellido" name="Apellido" required>
    <p>Nombre</p>
    <input type="text" class="form-control" id="Nombre" name="Nombre" required>
    <p>Fecha de nacimiento</p>
    <input type="date" class="form-control" id="FechaNacimiento" name="FechaNacimiento">
    <p>Foto</p>
    <input type="text" class="form-control" id="Foto" name="Foto">
    <p>Postulacion</p>
    <input type="text" class="form-control" id="Postulacion" name="Postulacion">
    <br>
    <button type="submit" >Guardar</button>
</form>

</body>
</html>