<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Elecciones 2023</h1>

<p>Aquí puedes encontrar información sobre las elecciones que se llevarán a cabo este año.</p>
<button class="enviar" type="submit"><a href="https://www.argentina.gob.ar/elecciones-2023"></a>Elecciones</button>
</body>
</html>