<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Elecciones 2023</h1>

<div class="row">
    @foreach (var partido in ViewBag.Partidos)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@partido.Logo" class="card-img-top" alt="@partido.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@partido.Nombre</h5>
                    <a href='@Url.Action("VerDetallePartido", new { idPartido = partido.IdPartido })' class="btn btn-primary">Ver Detalle</a>
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>
