<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>ELECCIONES 2023</H1>
    <H2>PARTIDOS</H2>
    @if(ViewBag.ListaPartidos != null){
    @for(int i = 0; i<ViewBag.ListaPartidos.Count; i++){
        <p></p>
    }
    }
    else{
        <p>Todavia no hay partidos ingresados</p>
    }
    
</body>
</html>
