html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../img/bandera.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: row;
  margin-bottom: 60px;
  color:  #01189c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.partido{
  text-align: center;
  display: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  background-color: #1d7ed8;
}
.enviar{
  text-decoration: none;
  background-color: #01189c;
  border: 2px solid black;
  border-radius: 5px;
  
}
header{
  text-align: center;
  background-color: #1d7ed8;
}

.navbar {
  background-color: #1d7ed8 !important;
  border-color: #1d7ed8 !important;

}
.extra{
  height: 100%;
  margin: 0;
  text-align: center;
}

.detalle{
  width: 700px;
  font-size: 36px;
    height: 300px;
    background-color: #1d7ed8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav a{
  color: #01189c;
}